/* cacheid:26ea5bdb64eb1f2851372af59d90928a0 */
.jbzoo .jbprice-value-table {
  width: auto;
}
.jbzoo .jbprice-value-table td {
  padding: 0.25em 0.25em 0.25em 0;
}
.jbzoo .jbprice-value-price {
  text-decoration: line-through;
}
