/* cacheid:1ffd3b5f6ecd0cf9358889e105d5e2450 */
.jbzoo-price .basic-value-wrap .row-field {
  display: none;
}
.jbzoo-price .row-field {
  display: block;
  width: 240px;
  float: left;
}
.jbzoo-price .jbprice-row,
.jbzoo-price .jbpriceadv-row {
  margin-bottom: 10px;
}
.jbzoo-price .default_variant {
  position: absolute;
  top: 10px;
  right: 10px;
}
.jbzoo-price .basic-balance-wrap .balance-variant,
.jbzoo-price .variant-balance-wrap .balance-variant {
  margin-left: 240px;
}
.jbzoo-price .basic-balance-wrap .balance-custom label,
.jbzoo-price .variant-balance-wrap .balance-custom label {
  float: left;
}
.jbzoo-price .basic-balance-wrap .balance-custom label input,
.jbzoo-price .variant-balance-wrap .balance-custom label input {
  position: relative;
  top: 6px;
  margin-right: 4px;
}
.jbzoo-price .jbprice-params {
  margin-bottom: 10px;
}
.jbzoo-price .jbprice-params .variant-param {
  margin-bottom: 10px;
}
.jbzoo-price .jbprice-params .variant-balance-wrap .balance {
  margin-left: 240px;
}
