/* cacheid:15575a85a3858f9484b812a7452d8d630 */
.jbzoo .jbprice-balance-left,
.jbzoo .jbprice-balance-request,
.jbzoo .jbprice-balance-available-yes {
  font-weight: bold;
  color: #6AB635;
}
.jbzoo .jbprice-balance-available-no {
  font-weight: bold;
  color: #F97A2E;
}
