/* cacheid:7b3fac5863bfb948bee746767dc9e13d0 */
.jbzoo-price {
  position: relative;
  max-width: 610px;
}
.jbzoo-price .row-field {
  display: block !important;
  float: left !important;
  width: 160px !important;
}
.jbzoo-price .jbpriceadv-row,
.jbzoo-price .jbprice-row {
  margin-bottom: 12px;
}
.jbzoo-price input[type=text],
.jbzoo-price select {
  text-align: left;
  width: auto;
}
.jbzoo-price textarea {
  width: 300px;
  height: 200px;
}
.jbzoo-price .jbpriceadv-row-radio label.radio-lbl,
.jbzoo-price .jbpriceadv-row-radio label.radiobtn {
  float: left;
  font-size: 12px;
  margin-right: 10px;
}
.jbzoo-price .balance .radio-lbl {
  margin: 5px 0;
}
.jbzoo-price .balance-variant,
.jbzoo-price .balance {
  display: inline-block;
}
.jbzoo-price .balance .balance-custom label {
  display: inline-block;
}
.jbzoo-price .variant-properties-wrap input {
  display: inline-block;
  width: 30%;
}
.jbzoo-price .basic-properties-wrap input {
  width: 20%;
}
.jbzoo-price .jbprice-img-row-file input {
  text-align: left;
}
.jbzoo-price .basic-discount-wrap select,
.jbzoo-price .basic-discount-wrap input {
  display: inline-block;
  text-align: left;
}
.jbzoo-price .basic-balance-wrap input,
.jbzoo-price .basic-sku-wrap input {
  text-align: left;
}
.jbzoo-price .basic-value-wrap select,
.jbzoo-price .variant-value-wrap select {
  width: auto;
}
.jbzoo-price .basic-variant-wrap {
  margin: 10px 0;
  float: right;
}
.jbzoo-price .jbprice-fieldset-moving {
  border: 1px dotted #808080;
}
.jbzoo-price .variations fieldset {
  background: #F6F6F6;
  position: relative;
  margin: 5px 0;
  padding: 0 5px;
  border: 1px solid #CCC;
  box-sizing: border-box;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label {
  margin: 0 5px;
  font-weight: bold;
  padding: 2px 0;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  box-sizing: border-box;
}
.jbzoo-price .variations .jbprice-variation-row input,
.jbzoo-price .variations .jbprice-variation-row select,
.jbzoo-price .variations .jbprice-variation-row textarea {
  background: #FFF;
}
.jbzoo-price .variations .jbprice-variation-row input[type="text"],
.jbzoo-price .variations .jbprice-variation-row select {
  height: 35px !important;
  box-sizing: border-box;
}
.jbzoo-price .variations .jbprice-variation-row .jbprice-params {
  display: table;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  border: 1px solid #CCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #EBEBEB;
  background: -moz-linear-gradient(50% 0%, #ffffff, #f5f5f5);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#f5f5f5), color-stop(70%, #f5f5f5));
}
.jbzoo-price .variations .jbprice-variation-row .variant-param {
  box-sizing: border-box;
  border-bottom: 1px solid #E9E9E9;
  position: relative;
}
.jbzoo-price .variations .jbprice-variation-row .variant-param .jbprice-element {
  overflow: hidden;
  background: #FFF;
  padding: 10px 10px 10px 20px;
  border-left: 1px solid #E9E9E9;
}
.jbzoo-price .variations .jbprice-variation-row .variant-param .attention.lock {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAB9klEQVQ4ja3UsWtcRxDH8c88DiPEcYUJ4jAuRUiRQgRjUroUWKWC46gzqDDCtZuYEHDnOv+BfTrdNQE9g0ntwnVw6cp1SOEiGBP0S/HeHacQn2WReSxvmZ39zuzM7vA/S33KYDZ9fqXYxRl+++772x/W2Q8u4PEr8qQHvsXv6+ybdYvzabuROJTapr6MOpxP241LAxM3quxHGtEU+4kblwLOp+3VKg+TjKq8Jq8joyoPZ8ft1c8Czo9biV1xq3gjDnBQ8Ubcwu78+PSzIrxecYQh3pO3uoJ8wLA4krp+YWC4F9mJiDShG9Fp2Em5dyHg7LjdIvdVbVLCBjUUw34uyWaS+yeTdmstcDZph0keSY2TLtRKNTlLg6a6aqvuGxePZpN2+FFguFlqP7L6hJqqGkQG1NI+Afu4+Z/Ak0k7Eg/CuD/qYmyEETXq5wJFGCceTJ+djhacgpOnbaP8gF8wcl7+wqv+BN8Wm1lZLN7hCJM7B3tnTa/dwmGSf8Po3vA7/Fn8vchNWXaWEQ6xBXXyrIUfw89FY+G+lnl9UdwWlOe6zrOUTp0z6ic8HiR2cFd331Ysl2UZJ77RdaZr54PvcV2x7qIdiD1le01r/Fo5DU3xxXlcre7axt5A+RV/4ErvUBJVtfwvMpD+rqyureje4+XHorq0/ANZVc1HLo3/VAAAAABJRU5ErkJggg==") no-repeat;
}
.jbzoo-price .variations .jbprice-variation-row .variant-param .attention.error {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACKklEQVQ4ja2UvWtUQRTFf/exyBKWV4gsi0iqxVgYSfwimBQJCKZIZ0DUTpJCgrWVf4G1/4K1oJVYiYidIClThRTmYWUhEuaeY7EvuoF8aHBgOJe5Z849c4cZ+M8jTiI0K7fOAMuAgLf9Nx/3juN3TixpXzI8j5HgNvDlOHp1rLs7N7ouZT0yh2RepJT15s6N7qkFDdfDXkWusCubVcP1Uwk2t2fPRpanzqxR2STLJlnqyPK0uT179p8Em6UrWFpGWgRv2TzEPARvIS0iLTdL04cKHn4p0oWADSJ6AT/B2xAE7AE97A3gPbDzVw6d+ciZMy4FSqkoWY2w4FIgc4bMR3915GZ+qh/S45AmwgKpi9XD6lnqhoWlCUuPd+en+scKNnPDHpnPUA6sxJmgrMisnFmhrJxJKAnlIDKfNXPD3tEOM28irVoCiRhhhdRB6oRUhYTbibRK5s1DBXevTdZIT5AGoSRSkILMLpl1ZNajeFSoFR4gPWmuTdb7OgHQzF6oIB4AL4DaHHjkP4BPbTwHTOznW/wObIBf9j/vqANgqQ+sA3UcJAOIiO+GEnZhrFiLdbv3HfC1aqYHhLSGcgHlfm8YxQnSB6y7Id9D+tiu/Z7t5S0grTXTAzpkzhjuj/fTBx0MSK569AjOx1h+rG8VcN/wpmNpJWB45M9oLgOv203niD9HPtBrMwxY6QR+BXzDnHHLCIMDsCFiXPzPWov2KBERPw0fjrB1+vELiHdYQHkCShAAAAAASUVORK5CYII=") no-repeat;
  width: 20px;
  height: 20px;
}
.jbzoo-price .variations .jbprice-variation-row .variant-param .attention {
  top: 5px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 120px;
}
.jbzoo-price .variations .jbprice-variation-row .variant-param .label {
  padding: 6px 25px 0 13px;
  font-size: 12px;
  background: none;
  text-shadow: none;
  font-weight: bold;
  color: #666;
  white-space: normal;
  width: 19% !important;
  display: block;
  vertical-align: middle;
  float: left;
  position: relative;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .attention {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .attention.error {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACKklEQVQ4ja2UvWtUQRTFf/exyBKWV4gsi0iqxVgYSfwimBQJCKZIZ0DUTpJCgrWVf4G1/4K1oJVYiYidIClThRTmYWUhEuaeY7EvuoF8aHBgOJe5Z849c4cZ+M8jTiI0K7fOAMuAgLf9Nx/3juN3TixpXzI8j5HgNvDlOHp1rLs7N7ouZT0yh2RepJT15s6N7qkFDdfDXkWusCubVcP1Uwk2t2fPRpanzqxR2STLJlnqyPK0uT179p8Em6UrWFpGWgRv2TzEPARvIS0iLTdL04cKHn4p0oWADSJ6AT/B2xAE7AE97A3gPbDzVw6d+ciZMy4FSqkoWY2w4FIgc4bMR3915GZ+qh/S45AmwgKpi9XD6lnqhoWlCUuPd+en+scKNnPDHpnPUA6sxJmgrMisnFmhrJxJKAnlIDKfNXPD3tEOM28irVoCiRhhhdRB6oRUhYTbibRK5s1DBXevTdZIT5AGoSRSkILMLpl1ZNajeFSoFR4gPWmuTdb7OgHQzF6oIB4AL4DaHHjkP4BPbTwHTOznW/wObIBf9j/vqANgqQ+sA3UcJAOIiO+GEnZhrFiLdbv3HfC1aqYHhLSGcgHlfm8YxQnSB6y7Id9D+tiu/Z7t5S0grTXTAzpkzhjuj/fTBx0MSK569AjOx1h+rG8VcN/wpmNpJWB45M9oLgOv203niD9HPtBrMwxY6QR+BXzDnHHLCIMDsCFiXPzPWov2KBERPw0fjrB1+vELiHdYQHkCShAAAAAASUVORK5CYII=") no-repeat;
  width: 20px;
  height: 20px;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .default_variant {
  position: absolute;
  right: 70px;
  top: 10px;
  width: 135px;
  overflow: hidden;
  white-space: nowrap;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .options {
  font-size: 11px;
  font-style: italic;
  color: #B7B2B2;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  font-weight: bold;
  width: 250px;
  top: 2px;
  left: 120px;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .options .variant-price {
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  margin-right: 8px;
  color: #900;
  cursor: help;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .description {
  font-size: 13px;
  font-style: italic;
  color: #B7B2B2;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 360px;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .jbmove.empty {
  color: red;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .options .overflow {
  font-size: 11px;
  font-style: italic;
  color: #B7B2B2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-weight: bold;
  width: 210px;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .options .option {
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
  cursor: help;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .options .option .key {
  display: block;
}
.jbzoo-price .variations .jbprice-variation-row .variation-label .options .option .key:hover {
  text-decoration: underline;
}
.jbzoo-price .variations .jbprice-variation-row.fieldset-hidden > div {
  display: none;
}
.jbzoo-price .variations .jbprice-variation-row.fieldset-hidden > .visible {
  display: block;
}
.jbzoo-price .variations .jbprice-variation-row .default_variant label {
  padding: 0;
  margin: 0;
  width: auto;
}
