/* cacheid:d759627e2353dc2a1684787efea2ed410 */
.jbzoo .jbprice-value-table {
  width: auto;
}
.jbzoo .jbprice-value-table td {
  padding: 0.25em 0.25em 0.25em 0;
}
.jbzoo .jbprice-value-price {
  text-decoration: line-through;
}
