{
	"jbuniversal.new-shop-item.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "32318e25-1c59-41c2-884a-d8625b13653b"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "fa7f618e-f0f0-436c-b909-3400179352b8"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"bookmark_enabled": "1",
				"like_vk_enabled": "1",
				"like_vk_variants": "like_vk_mini",
				"like_vk_height": "20",
				"like_vk_verb": "0",
				"like_vk_id": "",
				"like_fb_enabled": "1",
				"like_fb_send": "false",
				"like_fb_layout": "button_count",
				"like_fb_show_faces": "false",
				"like_fb_colorscheme": "light",
				"like_fb_action": "like",
				"like_fb_locale": "ru_RU",
				"like_tw_enabled": "1",
				"like_tw_via": "",
				"like_tw_locale": "ru",
				"like_tw_size": "",
				"like_tw_related": "",
				"like_tw_hashtags": "",
				"like_tw_dnt": "false",
				"like_tw_count": "0",
				"like_ok_enabled": "0",
				"like_ok_url": "",
				"like_ok_count_enable": "0",
				"like_ok_count": "right",
				"like_ok_text": "0",
				"like_ok_ok_text": "1",
				"like_ok_view": "straight",
				"like_ok_size": "12",
				"like_gp_enabled": "0",
				"like_gp_size": "tall",
				"like_gp_annotation": "none",
				"like_gp_width": "300",
				"like_gp_lang": "ru",
				"like_li_enabled": "0",
				"like_li_url": "",
				"like_li_counter": "right",
				"like_li_lang": "ru_RU",
				"like_ya_share_enabled": "1",
				"like_ya_share_services": "",
				"like_ya_share_style": "button",
				"like_ya_share_theme": "default",
				"element": "a8f9825c-d1dd-4463-bf95-251009e77975"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c553475d-f147-42fc-b6fe-6e5423e6645f"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "cf812216-6486-46d6-a95d-b5c34dbfda34"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "9fcb80fe-4ada-4c2d-9d8f-676f6b49d55f"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "6ccbc482-dc30-4dd6-8e32-f2080e6bcd4c"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "9dce4480-5811-4287-a77c-04a8545551d6"
			}
		},
		"gallery": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": "asc",
				"width": "0",
				"height": "100",
				"count": "0",
				"element": "2295867a-8921-439b-9ff4-3c0ad4a3164a"
			}
		},
		"comments": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"fb_comm_width": "500",
				"fb_comm_limit": "10",
				"fb_comm_color_scheme": "light",
				"fb_comm_locale": "en_GB",
				"vk_comm_width": "500",
				"vk_comm_limit": "10",
				"vk_comm_attach": "1",
				"vk_comm_auto_publish": "1",
				"vk_comm_height": "500",
				"vk_comm_norealtime": "0",
				"vk_comm_mini": "auto",
				"element": "94b4b61d-d7e8-4c0c-9e8c-44f8134113b4"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "",
				"link_to_item": "1",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "2185b641-49d2-4a17-9c18-fd043e22e637"
			}
		}
	},
	"jbuniversal.new-shop-item.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "32318e25-1c59-41c2-884a-d8625b13653b"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": "",
					"2": "_alphanumeric"
				},
				"layout": "",
				"link_to_item": "0",
				"limit": "20",
				"readmoretext": "",
				"separated_by": "separator=[ ]",
				"element": "07e5ceee-bd1f-4489-bee1-8b2533fef9e8"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f1da7c81-e12e-4fe5-8083-5c624a809823"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "fa7f618e-f0f0-436c-b909-3400179352b8"
			}
		}
	},
	"jbuniversal.orders.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "e05c5659-2a4e-4bed-8baa-951ca061a93e"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d5188c17-29d0-45f7-851b-bdb7a135dd8b"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "ff5318ea-5a70-4b7b-979e-5b4c4674e85b"
			}
		},
		"count": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0beb6fd2-8f78-426f-82ff-afb7429597a2"
			}
		}
	},
	"jbuniversal.orders.submission": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "d5188c17-29d0-45f7-851b-bdb7a135dd8b"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "e05c5659-2a4e-4bed-8baa-951ca061a93e"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			}
		},
		"media": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "bd7f1460-a435-49f0-93f2-8f5c65bad069"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "5407fb9f-84d0-4e30-ad58-e042b137d7e4"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "3d4dfe30-19b1-44e6-92bc-652ad9661682"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "06232317-e900-410d-a3ab-3acf1c26c85f"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "3700acf8-fb8a-4632-89b9-1c81c9ff00d6"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "ff5318ea-5a70-4b7b-979e-5b4c4674e85b"
			}
		}
	},
	"jbuniversal.orders.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "e05c5659-2a4e-4bed-8baa-951ca061a93e"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "ff5318ea-5a70-4b7b-979e-5b4c4674e85b"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "bd7f1460-a435-49f0-93f2-8f5c65bad069"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5407fb9f-84d0-4e30-ad58-e042b137d7e4"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "980ab413-382b-448d-abbe-e4ad7b236394"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "3d4dfe30-19b1-44e6-92bc-652ad9661682"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "06232317-e900-410d-a3ab-3acf1c26c85f"
			}
		},
		"gallery": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": "asc",
				"width": "0",
				"height": "100",
				"count": "0",
				"element": "3700acf8-fb8a-4632-89b9-1c81c9ff00d6"
			}
		}
	},
	"jbuniversal.orders.teaser_magazin": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "e05c5659-2a4e-4bed-8baa-951ca061a93e"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d5188c17-29d0-45f7-851b-bdb7a135dd8b"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "ff5318ea-5a70-4b7b-979e-5b4c4674e85b"
			}
		}
	}
}