{
	"jbuniversal.new-shop-item.full": {
		"img": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "920e0c68-98e0-4153-ae0d-8a666eabe22c"
			}
		},
		"manufacturer": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"form_release": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "293b41b1-de97-44a3-9608-01015728edd4"
			}
		},
		"in_the_package": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b1dfc9e0-af89-466d-b1fd-b75ae1f9bf61"
			}
		},
		"JBZoo Price Plain": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "3ccd726b-4df7-4741-8153-faa0fcc9130f"
			}
		}
	},
	"jbuniversal.new-shop-item.teaser": {
		"img": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "200",
				"height": "200",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "920e0c68-98e0-4153-ae0d-8a666eabe22c"
			}
		},
		"name_of_drugs": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"manufacturer": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e5b7fe30-2a3f-4025-b8c7-edf6421ba359"
			}
		},
		"form_release": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "293b41b1-de97-44a3-9608-01015728edd4"
			}
		},
		"in_the_package": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b1dfc9e0-af89-466d-b1fd-b75ae1f9bf61"
			}
		},
		"JBZoo Price Plain": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "3ccd726b-4df7-4741-8153-faa0fcc9130f"
			}
		}
	}
}