{
	"name": "New Shop Item",
	"elements": {
		"2185b641-49d2-4a17-9c18-fd043e22e637": {
			"name": "relateed",
			"description": "",
			"access": "1",
			"type": "jbrelatedauto"
		},
		"a8f9825c-d1dd-4463-bf95-251009e77975": {
			"name": "\u0421\u043e\u0446 \u0441\u0435\u0442\u0438",
			"description": "",
			"access": "1",
			"likes_enabled": "1",
			"bookmarks_enabled": "0",
			"complex_enabled": "0",
			"bookmark_google": "1",
			"bookmark_technorati": "0",
			"bookmark_yahoo": "0",
			"bookmark_delicious": "0",
			"bookmark_stumbleupon": "0",
			"bookmark_digg": "0",
			"bookmark_facebook": "1",
			"bookmark_reddit": "0",
			"bookmark_myspace": "0",
			"bookmark_live": "0",
			"bookmark_twitter": "1",
			"bookmark_email": "1",
			"bookmark_blogger": "0",
			"bookmark_bobrdobr": "1",
			"bookmark_liveinternet": "1",
			"bookmark_livejournal": "1",
			"bookmark_mailru": "1",
			"bookmark_odnoklassniki": "1",
			"bookmark_vkontakte": "1",
			"bookmark_yandex": "1",
			"type": "jbsocial"
		},
		"94b4b61d-d7e8-4c0c-9e8c-44f8134113b4": {
			"name": "\u041e\u0442\u0437\u044b\u0432\u044b",
			"description": "",
			"access": "1",
			"fb_comments_enabled": "1",
			"vk_comments_enabled": "1",
			"fb_comm_app_id": "",
			"vk_comm_app_id": "",
			"type": "jbcomments"
		},
		"9fcb80fe-4ada-4c2d-9d8f-676f6b49d55f": {
			"name": "\u0421\u043f\u043e\u0441\u043e\u0431\u044b \u043f\u0440\u0438\u043c\u0435\u043d\u0435\u043d\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"cf812216-6486-46d6-a95d-b5c34dbfda34": {
			"name": "\u041a\u043e\u043c\u043f\u043b\u0435\u043a\u0442\u0430\u0446\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"c553475d-f147-42fc-b6fe-6e5423e6645f": {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"6ccbc482-dc30-4dd6-8e32-f2080e6bcd4c": {
			"name": "\u0425\u0430\u0440\u0430\u043a\u0442\u0435\u0440\u0438\u0441\u0442\u0438\u043a\u0438",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"9dce4480-5811-4287-a77c-04a8545551d6": {
			"name": "\u041f\u043e\u043a\u0430\u0437\u0430\u043d\u0438\u044f",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"fa7f618e-f0f0-436c-b909-3400179352b8": {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"only_selected": "1",
			"cache": "0",
			"type": "jbpriceplain"
		},
		"f1da7c81-e12e-4fe5-8083-5c624a809823": {
			"name": "\u041f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"2295867a-8921-439b-9ff4-3c0ad4a3164a": {
			"access": "1",
			"name": "\u0413\u0430\u043b\u0435\u0440\u0435\u044f",
			"description": "",
			"directory": "images",
			"type": "jbgallery"
		},
		"32318e25-1c59-41c2-884a-d8625b13653b": {
			"name": "\u041a\u0430\u0440\u0442\u0438\u043d\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "images\/uploads\/",
			"max_upload_size": "512",
			"upload_by_user": "0",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"type": "jbimage"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}